body{
  height: 100%;
  width: 100%;
  margin:0;
  font-family: "Roboto", sans-serif;

}
* {
  box-sizing: border-box;
}

:root {
  --searchbar-background-color: #252525;
  --searchbar-color: #fcfbfa;

  --player-background-color: #000000;
  --videolist-background-color: #ffffff;
}

#app-wrapper {
  margin: 0 auto;
  width: 100%;
  height:100%;
  background-color: yellowgreen;

  display: flex;
  flex-direction: column;

/*   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "searchbar"
    "videoplayer"
    "videolist";  */
}

#app-searchbar {
  height: 3.5rem;

  background-color: var(--searchbar-background-color);
/*   grid-area: searchbar;  */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


#app-videoplayer {
   background-color: var(--player-background-color); 

  display: flex;
  flex-direction: column;
  align-items: center; /* center vertically */
}

#app-videolist {
  background-color: var(--videolist-background-color);
  
  /* grid-area: videolist; */
  height: 100%;
}


