/* Done using grid lines instead of grid areas */

#app-wrapper {
    margin: 0 auto;
    width: 90vw;
    height:100vh;
    background-color: yellowgreen;
  
    display: grid;
    grid-template-columns: 2fr 1fr;
  /*   grid-template-rows: auto;
    grid-template-areas:
      "searchbar searchbar "
      "videoplayer videolist "; */
      grid-column-start: 1;
  }
  
  #app-searchbar {
    background-color: lightblue;
    /* grid-area: searchbar; */
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  
  #app-videoplayer {
    background-color: red;
    /* grid-area: videoplayer; */
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  #app-videolist {
    background-color: goldenrod;
    overflow-y:auto;
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-area: videolist; */
  }
  
  /* #mysearchbar-wrapper{
    background-color: brown;
    
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
  }  */
  