#vid-wrapper {
  
  background-color: white;
  padding-left: 2.5%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: gray solid 2px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#vid-thumbnail {
  padding-right: 1rem;
}

/* 
#vid-displaydata {
}
*/
#vid-title {
  font-weight: bold;
}
 


#span-percentage-rating{
  font-weight: bold;
}

.good-rating{
  color: rgb(11, 187, 11);
 }
 
 .medium-rating{
   color: rgb(255, 217, 0);
 }
 
 .bad-rating{
   color: red;
 }