/* 
  Responsive CSS Aspect Ratio for iframes

  This code uses a CSS trick with padding to make everything work.

  When you use a percentage value for padding it will always be relative to the width of the element. 
  This means if you have padding-top: 50% on an element that is 400px wide there will be 200px of padding 
  on the top of the element no matter how tall it is. 

  We can use this knowledge to set the padding of our element to the percentage ratio between our width and height.

  For example, if the video is 16x9 then the percentage for padding would just be 9 / 16 which is 56.25%.
 */
 

#videoPlayer-wrapper{
  width: 50%;
}

#iframeContainer{
  background-color: var(--player-background-color);
  
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

 #iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 768px) {

  #videoPlayer-wrapper{
    width: 100%;
  }
}